@charset "UTF-8";

section {
    width:100%;
    font-family: 'SBAggroB';
}
 
/* header {
    width: 800px;
} */
/*등록된 숙소를 담는 컨테이너*/
.container{
	display:flex;
	border:3px solid #cd280e;
	border-radius:10px;
	width:1000px;
	margin:20px auto;
	background-color:floralwhite;
}
.container div:first-child{
	width:40%;
	text-align:center;
}
.container div:nth-child(2){
	width:50%;
	padding:20px;
}
.container div:last-child{
	display: flex;
    align-items: flex-end;
}
.container img{
	width:80%;
	margin:40px auto;
}
.container h2{
	font-size:25px;
	margin-bottom:60px;
}
.container ul{
	list-style:none;
	padding:0;
}
.container ul li{
	font-size:20px;
	padding-bottom:30px;
}
/* nav li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
} */

#main {
    width: 300px;
   float:left;
}

#main img {
    width: 300px;
    height: 200px;
    
}

#main ul{
    list-style-type: none;
}

#main h3 {
    text-align: center;
}

hr {
    border: 1px solid #ddd; /* 기본 테두리 스타일 설정 */
    margin: 20px 0; /* 위와 아래 여백을 추가 */
}


#hr{
   clear:both;  
}
/* 호스트 북킹 jsp페이지~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
li{
    list-style-type: none;
}

/* hostbooking css */
#contentWrapper {
    display: flex;
    align-items: flex-start; /* 상단 정렬 */
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
}
#contenWrapper article{
   
   flex: 1; /* 모든 article이 동일한 비율로 차지하도록 설정 */
    margin-right: 20px; /* 각 article 사이의 간격 */
    height: 200px; /* 고정 높이 설정 */
    box-sizing: border-box; /* 패딩과 테두리가 요소의 전체 너비에 포함되도록 설정 */
}
#contentWrapper article:last-child {
    margin-right: 0;
}


.contentWrapper ul{
	width:200px;
	height: 100px;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 상단 정렬 */
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
}
.contenWrapper article{
   
   flex: 1; /* 모든 article이 동일한 비율로 차지하도록 설정 */
    margin-right: 20px; /* 각 article 사이의 간격 */
    height: 200px; /* 고정 높이 설정 */
    box-sizing: border-box; /* 패딩과 테두리가 요소의 전체 너비에 포함되도록 설정 */
}
.booking{
	width:50%;
}
.bookingTable{
	width: 100%;
}
.resByRoom{
	margin: 10px auto;
    width: 80%;
    border: 2px solid #cd280e;
    border-radius: 10px;
    padding: 20px;
    background-color:floralwhite;
}

/*호스트메인페이지 = 숙소관리*/

#host_main_article{
	width:100%;
}
#no_room_div{
	margin:15px auto;
}
#no_room_div h3{	
	padding:50px;
	text-align:center;
	font-size:30px;
}
/* #host_main_article form{
	text-align:center;
	padding:50px;
} */
.btstyle{
	background-color: #ca3101;
    font-family: 'SBAggroB';
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    color: cornsilk;
    border: 0;
    margin:10px;
}
.btstyle:hover{
	opacity:0.7;
	transition:0.3s;
}
#roomselect li{
	list-style:none;
}
/* #host_main_article form img{
	width: 800px;
	height: 700px;
	display: block;
	margin: 0 auto 10px auto;
}     */