@charset "UTF-8";
section{
	font-family: 'SBAggroB';
}
/*마이페이지 메뉴바*/
#myPageNav{
	width:100%;
}
.myPageContent_ar{
	width:100%;
	text-align:center;
}
#myPageMain_fs{
	margin:80px auto;
	width:800px;
	text-align:center;
	border:0;
}
#img_div{
    width: 320px;
    height: 320px;
    border: 4px solid black;
    border-radius: 500px;
    margin: 30px auto;
    text-align: center;
}
#img_div img{
	width: 100%;
    height: 100%;
    border-radius: 500px;
}
input[type="file"] {display: none;}
#myPageMain_fs div{
	font-family: 'SBAggroB';
}
#ul_menu{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: powderblue;
    border-radius: 30px;
    padding: 0 20px;
    /* height: 135px; */
    z-index: 2;
    position: relative;
}
#ul_menu li{
	margin:20px 10px 20px 10px;
	padding:10px;
	position:relative;
}
#ul_menu a{
	color:#cd280e;
	font-family: 'SBAggroB';
	font-size:25px;
	text-decoration:none;
}
#ul_menu li:hover{
	border-radius:5px;	
}
.ul_submenu{
    display: block;
    padding: 0;
    background: powderblue;
    z-index: 1;
    position: absolute;
    margin-top: 0px;
    border-radius: 30px;
    list-style: none;
}
.ul_submenu.dropdown{
	top: 52px;
    display: none;
    opacity: 0;
    visibility: hidden;
    margin-top: 50px;
    position: absolute;
    background: white;
    width: 220px;
    z-index: 4;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s linear;
}
.ul_submenu.dropdown::before{
content: ''; position: absolute; top: -6px; left: calc(50% - 5px); width: 0; height: 0; border-left: 10px solid transparent; 
       border-right: 10px solid transparent; border-bottom: 10px solid white; z-index: 3;
}
#ul_menu li:hover{
	background-color:white;
	border-radius:5px;	
}
#ul_menu > li:hover .dropdown, #ul_menu > li .dropdown.show {
    display: block;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    padding: 10px 5px;
}
.ul_submenu a{
	color:black;
	font-family: 'SBAggroB';
	font-size:10px;
	text-decoration:none;
}
/*나의 계정 정보*/
form{
	    display: flex;
}
#myProfile table{
    width: 70%;
    margin: 0px auto;
}
#myProfile table th{
    text-align: end;
    width: 30%;
    font-size: 25px;
    padding: 15px;
}
#myProfile table td{
	font-size:23px;
	padding:15px;
}
.textfield{
	width:280px;
	padding:15px;
	font-size:20px;
	font-family: 'SBAggroB';
	outline:none;
	border:4px solid black;
}
/* .button{
	width:100px;
	padding:10px;
	font-size:20px;
	background-color:#dec022;
	color:black;
	font-family: 'SBAggroB';
	border:4px solid black;
	margin:10px;
}
.button:hover{
	background-color:#dec022;
} */
/*나의 예약*/
.reserveCard{
    background: floralwhite;
    border: 3px solid #cd280e;
    border-radius: 10px;
    margin: 40px auto;
    width: 50%;
}
/* .myPageContent_ar h2{
	text-align:center;
	background-color:#cd280e;
	color:cornsilk;
	width:150px;
	padding:10px;
	border-radius:10px;
	margin:10px auto;
	font-size:20px;
} */
.myPageContent_ar a{
	color: black;
	text-decoration:none;
}
.reserveCard table{
	width: 90%;
}
.reserveCard table td{
	width:50%;
	padding: 20px 10px;
	text-align:start;
}
.reserveCard table img{
	width: 100%;
}
/*myReview*/
#myReview table{
	margin:30px auto; width:90%; border-spacing:10px;
}
#myReview table td{
	width:50%; border:3px solid #cd280e; padding:15px; border-radius:10px;
}
#myReview table td div div{
	padding-left:20px;
}
#myReview table td div img{width:40%; height:250px;}
.myReserve_h{
	background-color: #cd280e;
	width:150px;
	text-align:center;
	margin:20px auto;
	padding:10px;
	border-radius:10px;
	color:cornsilk;
}
.alert_h{
	margin:100px auto;
}

/*reserve_detial*/
/* #myReserveDetail div{
	width:60%; margin:30px auto; border:3px solid #cd280e;
}
#myReserveDetail div div:first-child{
    border: 0;
    background-color: #cd280e;
    padding: 1px 10px;
}
#myReserveDetail div div:nth-child(2){
    border: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}
#myReserveDetail div div:nth-child(3){
	display:flex; justify-content: space-between;
} */