@charset "UTF-8";
header, footer{
	display:none;
}
body {
        font-family: 'SBAggroB';
        margin: 100px auto;
        background-color: #f8f9fa;
    }
.container {
        /* max-width: 600px; */
        margin: 100px auto;
        padding: 20px;
} 
form{
	background: floralwhite;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid palegoldenrod;
    border-radius: 10px;
}      
    .header {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: left;
        background-color: #dec022;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
    }
    .form-group {
        margin-bottom: 15px;
        text-align: left;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-family: 'SBAggroB', Arial, sans-serif;
        font-size: 18px;
    }
    .form-group input {
        width: 96%;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 16px;
        font-family: 'Ownglyph_meetme-Rg', Arial, sans-serif;
    }
    .payment-button {
        display: block;
        width: 100%;
        padding: 15px;
        background-color: #cd280e;
        color: cornsilk;
        border: 0px solid black;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        font-family: 'SBAggroB', Arial, sans-serif;
        font-size: 20px;
        margin-top: 20px;
    }
    .payment-button:hover {
       opacity:0.5;
        transition: 0.3s;
    }
    .back-link {
        text-align: left;
        margin-bottom: 20px;
    }
    .back-link a {
        color: black;
        text-decoration: none;
        background-color:#cd280e;
        border: 0;
        border-radius: 5px;
        padding: 5px 10px;
        font-family: 'SBAggroB', Arial, sans-serif;
        font-size: 18px;
        color:cornsilk;
    }
    .back-link a:hover {
        opacity:0.5;
        transition: 0.3s;
    }
    
    #cardNumber, #expiryDate{
    	font-family: 'Pretendard-Regular';
    }